@import url(https://fonts.googleapis.com/css2?family=Bungee+Spice);
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Josefin+Sans:wght@700&family=Kdam+Thmor+Pro&family=Merriweather:ital,wght@0,400;1,900&display=swap');

@font-palette-values --colorized {
  font-family: "Bungee Spice";
  base-palette: 0;
  override-colors: 0 #613B6F, 1 #8DAC50, 2 #FBFBFB;        
}

h1 {
  font-family: "Bungee Spice";
  font-size: 2em;
  font-palette: --colorized;
  color: #e67900;
}

img {
  width: 150px;
  height: 150px;
}

p {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 1em;
}

.card-container {
  container-type: inline-size / liron;
  overflow: auto;
  resize:horizontal;
}

.buzz-card {
  border: 2px solid;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.buzz-card p {
  display: none;
}

@container (inline-size > 274px){
  .buzz-card p{
    display: block;
  }
  img {
    width: 200px;
    height: 200px;
  }
}

@container (inline-size > 400px){
  .buzz-card{
    display: grid;
  }
  .buzz-card img {
    grid-row: 2/4;
  }

  .buzz-card h1{
    grid-column: 1/3;
  }
}